* {
  font-family: sans-serif;
  font-weight: 500;
}


button.klar-button {
  background-color: #4d4d4d;;
  border: none;
  padding: 0;
  width: 95vw;
  position: fixed;
  bottom:7vh;
  left: 2.5vw;
  color: white;
  font-size: 9vw;



}


div.ny-button {
  display: flex;

}



input.ny-button {
  flex-grow: 1;
  border: none;
  font-size: 7vw;
  height: 8vw;

}

img.ny-button {
  width: 8vw;
}

button.ny-button {
  background: none;
  border: none;
}








div.övnings-nod {
  display: flex;
  margin-bottom: 1vh;
  height: 8vw;
}


.vikt-input {
  font-size: 5vw;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  text-align: right;
  width: 10vw;
  margin-right: 1vw;
}

.övings-label {
  flex-grow: 1;
  font-size: 7vw;
  margin-left: 0.5vw;
  
  
}

input.övining-checkbox {
  display: none;
}
label.övining-checkbox {
  width: 8vw;
  height: 8vw;
  margin-right: 0.5vw;
  position: relative;

  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url(images/checkbox0.svg);
}
input.övining-checkbox:checked + label.övining-checkbox {
  background-image: url(images/checkbox1.svg);
}

button.delete-button {
  background: none;
  border: none;
  padding: 0px;
  margin-right: 0.5vw;
}
img.delete-button {
  width: 8.5vw;
}

hr {
  background: black;
  border: none;
  height: 3px;
}

div.övningar {
  overflow: auto;
}

div.navigation-bar {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 1vh;
  left: 0px;
}

button.navigation-bar {
  background: none;
  border: none;
  padding: 0px;
}
label.navigation-bar {
  width: 5vh;
}
img.navigation-bar {
  width: 5vh;
}
input.navigation-bar {
  display: none;
}